@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen bg-[#ffe4e1] text-black dark:bg-[#121212] dark:text-white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
