@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen bg-[#e8e3e8] bg-gradient-to-r text-black dark:bg-[#121212] dark:text-white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

span.gradeActivity {
  background-color: #0001;
}
span.gradeActivity[data-aria-grade="1"] {
  background-color: #9be9a8;
}
span.gradeActivity[data-aria-grade="2"] {
  background-color: #40c463;
}
span.gradeActivity[data-aria-grade="3"] {
  background-color: #30a14e;
}
span.gradeActivity[data-aria-grade="4"] {
  background-color: #216e39;
}

@media (prefers-color-scheme: dark) {
  span.gradeActivity {
    background-color: #0000;
  }
  span.gradeActivity[data-aria-grade="1"] {
    background-color: #0e4429;
  }
  span.gradeActivity[data-aria-grade="2"] {
    background-color: #006d32;
  }
  span.gradeActivity[data-aria-grade="3"] {
    background-color: #26a641;
  }
  span.gradeActivity[data-aria-grade="4"] {
    background-color: #39d353;
  }
}

@keyframes customPing {
  84% {
    opacity: 0;
    transform: scale(1);
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.ping {
  animation: customPing 5s cubic-bezier(0, 0, 0.2, 1) infinite;
}
